body{
  font-family: font-family: 'Roboto', sans-serif;;
}

header{
  height: 70px;
  background-color: #F6F7F9;
  padding: 8px 0;
}

header .icons{
  color: #494646;
}

header .icons .ms-2{
  color: #FC7C09;
}

header .form-control{
  background-color: #DEDFDE;
  font-weight: 200;
  font-size: .9rem;
}

header .small-logo{
  height: 100%;
}

aside{
  width: 10%;
  height: calc(100vh - 70px);
  background-color: #071627;
  background-image: url("../img/sidebar-bg.png");
  float: left;
  font-family: 'Poppins', sans-serif;
}

aside ul li{
  list-style: none;
  margin: 10px 0;
}

aside ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 200;
}

aside ul li a:hover{
  filter: brightness(.5);
  color: white;
}

main{
  width: calc(100% - 10%);
  height: calc(100vh - 70px);
  margin-left: auto;
  overflow: auto;
}

.first{
  background-color: #175AE2;
  padding: 20px;
}

.first .badge{
  background-color: #1345AC;
}

.second .box-classi i{
  color: #59626A;
  border: 1px solid #59626A;
}

.second .box-classi img{
  height: 30px;
}

.second .box-grafico{
  border: 1px solid lightgrey;
  border-radius: 5px;
}

@media (max-width: 768px) {
  aside{
    width: 50px;
  }
  aside span{
    display: none;
  }
  main{
    width: calc(100% - 50px);
  }
}